<%= @tweet.content %>

<a href='/tweets/<%= @tweet.id %>/edit'>Edit Tweet</a>

<form method="POST" action='/tweets/delete/<%= @tweet.id %>'>
  <input id='hidden' type='hidden' name="_method" value='delete'>
  <input type='submit' name='Delete Tweet' id='Delete Tweet'>
</form>
